<!DOCTYPE html>
<html>

<head>
  <title>SupBank-Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="http://localhost:4000/images/favicon.png">

  <!-- include jquery for search  -->

  <script src="http://code.jquery.com/jquery-1.8.3.min.js"> </script>
</head>

<body>
  <%- include includes/header.ejs %>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h2>My Wallet </h2>
        <div class="col-md-4">
          <h2> Sent  </h2>

          <table class="table table-condensed ">
          <tr>
            <th>To</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Block ID</th> 
          </tr>
          <!-- will be dynamically filled  -->
          <!--blocks (with block id) -->
          <tr>
            <% for(var i=0; i < sent.length; i++) { %>
            <% for(var j=0; j < sent[i].transactions.length; j++) { %>
            <tr>
            <td><%= JSON.stringify(sent[i].transactions[j].toAddress).slice(1,131) %></td>
            <td><%= JSON.stringify(sent[i].transactions[j].amount) %>&nbsp;$</td>
            <td><%= JSON.stringify(sent[i].transactions[j].timestamp )
              .slice(1, 17).replace('T','  ')
               %></td>
            <td><%= JSON.stringify(sent[i].blockNumber) %></td>
          </tr>
          <% } %>
          <% } %>
  
        </table>
        </div>
       
        <div class="col-md-4">
          <h2> Recieved </h2>
          <table class="table table-condensed ">
          <tr>
            <th>From</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Block ID</th> 
          </tr>
          <tr>
            <% for(var i=0; i < recieved.length; i++) { %>
            <% for(var j=0; j < recieved[i].transactions.length; j++) { %>

            <tr>
            <td ><%= JSON.stringify(recieved[i].transactions[j].fromAddress).slice(1,131) %></td>
            <td><%= JSON.stringify(recieved[i].transactions[j].amount) %>&nbsp;$</td>
            <td><%= JSON.stringify(recieved[i].transactions[j].timestamp )
              .slice(1, 17).replace('T','  ')
               %></td>
            <td><%= JSON.stringify(recieved[i].blockNumber) %></td>
          </tr>
          <% } %>
          <% } %>
  
        </table>
        </div>

        <div class="col-md-2">
          <h2>Make Txns</h2>
          <form method="post" action="/txns" onsubmit="return checkTxn(this);">
            <!-- make the client feel safe  -->
            <!-- <div class="form-group has-success has-feedback">
                <label for="inputSuccess2">Input with success</label>
                <input type="text" class="form-control" id="inputSuccess2">
                <span class="glyphicon glyphicon-ok form-control-feedback"></span>
              </div> -->
            <input name="to" type="text"  placeholder=" Send To .. " class="form-control" />
            <br />
            <div class="input-group">
              <span class="input-group-addon">$</span>

              <input name="amount" type="number"  placeholder="Amount " min="100" step="any"
                data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" />
            </div>


            <br />
            <br />
            <input type="submit" value="Confirm" />
            <input type='reset' value='Clear' name='reset'>
          </form>
        </div>

        <div class="col-md-1">
          <br>
          <br>
          <h3>
          Balance 
            <span class="label label-default" id="senderBalance"><%=balance%> </span>$</a>
          </h3>

        </div>

      </div>


    </div>
  </div>

  <div>
    <%- include includes/footer.ejs %>
  </div>
<script>

function checkTxn(form)
  {
    var b = document.getElementById("senderBalance").innerHTML;
    if(b < this.amount){
      alert('You do not have enough coins to perform this transaction');
    //stop
    return false;
    }
    // go on
return true;
  }
</script>

</body>

</html>