<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title> Welcome <%= title %> !</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
	<!-- favicon -->
	<link rel="shortcut icon" href="http://localhost:5000/images/favicon.png">
	<!-- local css  -->
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<%- include includes/header.ejs %>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span>Profile Page</h1>
		</div>

		<div class="row">

			<% if (!user.google.id) {%>
			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.username %><br>
						<strong>password</strong>: <%= user.local.password %>
					</p>

				</div>
			</div>
			<%}%>
		<!-- Google INFORMATION -->

        	<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-google"></span> Information</h3>

					<p>
						<!-- <strong>id</strong>: <%= user.google.id %><br> -->
			<!-- <strong>token</strong>: <%= user.google.token %><br> -->
			<strong> Email</strong>: <%= user.google.email %><br>
			<strong> Name</strong>: <%= user.google.name  %><br>
			<strong>Your Wallet Address</strong>: <%= user.publicKey  %>
			</p>

		</div>
	</div>

	</div>

	</div>

	<div>
		<%- include includes/footer.ejs %>
	</div>

</body>

</html>