<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
	<title> Welcome <%= title %> !</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- load fontawesome -->
	<!-- favicon -->
	<link rel="shortcut icon" href="http://localhost:5000/images/favicon.png">
	<!-- local css  -->
	<link rel="stylesheet" href="/stylesheets/style.css">
	<%# local script %>
	<script src="http://localhost:5000/javascripts/profile.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


	<script>
		function copyToClipboard(element) {

			var $temp = $("<input>");
			$("body").append($temp);
			$temp.val($(element).text()).select();
			document.execCommand("copy");
			$temp.remove();
			setTimeout(() => {
				alert(" Address copied to clip board")
			}, 200);
		}
	</script>
</head>

<body>
	<%- include includes/header.ejs %>
	<div class="container">
		<div class="jumbotron">
			<div class="page-header text-center">

				<div class="panel panel-success">
					<div class="panel-heading">
						<span class="fa fa-check"></span>Welcome</div>
					<div class="panel-body"><%=user.nickName %></div>
				</div>


			</div>

			<div class="row">
				<!-- INFORMATION -->
				<div class="col-sm-12">
					<div class="well well-sm">
						<p>

							<div class="panel panel-primary">
								<div class="panel-heading">User	 details
								<span class="	glyphicon glyphicon-user"></span>
								</div>
								<div class="panel-body">
									<strong>Email</strong>: <%= user.local.username|| user.google.email %><br>
									<strong> Nick Name</strong>: <%= user.nickName  %><br>
									<strong> Balance</strong>: <%= user.balance  %>$<br>
								</div>
							</div>

							<div class="panel panel-info">
								<div class="panel-heading"> Wallet Address 
										<span class="	glyphicon glyphicon-barcode"></span>
									
								</div>
								<div class="panel-body"> <textarea rows="3" cols="60" readonly="readonly"
										style="background-color:#0FAAFF;"
										id="ad"> <%= user.publicKey  %></textarea>

									<button onclick="copyToClipboard('#ad')" class="btn btn-info">Copy To
										Clipboard</button>
								</div>
							</div>
						</p>

					</div>
				</div>

			</div>

		</div>
	</div>

	<%- include includes/footer.ejs %>
	<script src="http://localhost:5000/javascripts/msc.js"></script>

</body>

</html>