<!DOCTYPE html>
<html>

<head>
  <title>SupBank-Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="http://localhost:5000/images/favicon.png">


  <!-- include jquery for live search  -->
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"> </script>
</head>

<body>
  <%- include includes/header.ejs %>
  <div class="jumbotron">
    <div class="container">

      <h2>Transactions </h2>

      <!-- <div style=" display :inline"> -->
      <div>

        Sender Address: &nbsp;&nbsp;
        <input type="text" id="searchBySenderAddress" placeholder=" .. " />
        <br>
        <br>
        Receiver Address:
        <input type="text" id="searchByReceiverAddress" placeholder=" .." />
        <br>
        <br>
        Search by Block ID
        <!-- <input type="text" id="searchByBlockNumber" placeholder=".."/>  -->
        <input id="searchByBlockNumber" type="number" placeholder="0 " min="0" step="1" />
      </div>
      <br>
      <hr />

      <!-- table was here -->

      <table class="table table-condensed ">
        <tr>
          <th>From</th>
          <th>To</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Block ID</th>
        </tr>
        <tr>
          <% for(var i=1; i < blocks.length; i++) { %>
          <% for(var j=0; j < blocks[i].transactions.length; j++) { %>
        <tr>
          <td> <textarea rows="3" cols="50" style="overflow:hidden;" readonly="readonly">
            <%= JSON.stringify(blocks[i].transactions[j].fromAddress).slice(1,131) %></textarea>
          </td>
          <td><textarea rows="3" cols="50" style="overflow:hidden;" readonly="readonly">
            <%= JSON.stringify(blocks[i].transactions[j].toAddress).slice(1,131) %></textarea>
          </td>
          <td><%= JSON.stringify(blocks[i].transactions[j].amount) %>&nbsp;$</td>
          <td><%= JSON.stringify(blocks[i].transactions[j].timestamp )
        .slice(1, 17).replace('T','  ')
         %></td>
          <td><%= JSON.stringify(blocks[i].blockNumber) %></td>
        </tr>
        <% } %>
        <% } %>

      </table>

    </div>
  </div>
  <div>
    <%- include includes/footer.ejs %>
  </div>



  <script>


    // searchBySenderAddress
    $("#searchBySenderAddress").on("keyup", function () {
      var value = $(this).val();

      $("table tr").each(function (index) {
        if (index !== 0) {

          $row = $(this);

          var id = $row.find("td:first").text();

          if (id.indexOf(value) !== 0) {
            $row.hide();
          }
          else {
            $row.show();
          }
        }
      });
    });


    // searchBySenderAddress
    $("#searchByReceiverAddress").on("keyup", function () {
      var value = $(this).val();

      $("table tr").each(function (index) {
        if (index !== 0) {

          $row = $(this);

          var id = $row.find("td:eq(2)").text();

          if (id.indexOf(value) !== 0) {
            $row.hide();
          }
          else {
            $row.show();
          }
        }
      });
    });



    // searchByBlockNumber
    $("#searchByBlockNumber").on("keyup", function () {
      var value = $(this).val();

      $("table tr").each(function (index) {
        if (index !== 0) {

          $row = $(this);

          var id = $row.find("td:eq(5)").text();

          if (id.indexOf(value) !== 0) {
            $row.hide();
          }
          else {
            $row.show();
          }
        }
      });
    });



  </script>





</body>

</html>