<!DOCTYPE html>
<html>

<head>
  <title>SupBank-Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="http://localhost:5000/images/favicon.png">

  <!-- include jquery for search  -->
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"> </script>

  <%# include axios for getting users %>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- include local script -->
  <script src="http://localhost:5000/javascripts/txns.js">
  </script> 
</head>

<body>
  <%- include includes/header.ejs %>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <h2>My Wallet </h2>
        <div class="col-md-3">
          <h4> Sent </h4>

          <table class="table table-responsive " border="1">
            <tr>
              <th>To</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Block ID</th>
            </tr>
            <!-- will be dynamically filled  -->
            <!--blocks (with block id) -->
            <tr>
              <% for(var i=0; i < sent.length; i++) { %>
              <% for(var j=0; j < sent[i].transactions.length; j++) { %>
            <tr>
              <td><%= JSON.stringify(sent[i].transactions[j].toName).slice(1,131) %></td>
              <td><%= JSON.stringify(sent[i].transactions[j].amount) %>&nbsp;$</td>
              <td><%= JSON.stringify(sent[i].transactions[j].timestamp )
              .slice(1, 17).replace('T','  ')
               %></td>
              <td><%= JSON.stringify(sent[i].blockNumber) %></td>
            </tr>
            <% } %>
            <% } %>

          </table>
        </div>

        <div class="col-md-3">
          <h4> Recieved </h4>
          <table class="table table-responsive " border="1">
            <tr>
              <th>From</th>
              <th>Amount</th>
              <th>Date</th>
              <th>Block ID</th>
            </tr>
            <tr>
              <% for(var i=0; i < recieved.length; i++) { %>
              <% for(var j=0; j < recieved[i].transactions.length; j++) { %>

            <tr>
              <td><%= JSON.stringify(recieved[i].transactions[j].fromName).slice(1,131) %></td>
              <td><%= JSON.stringify(recieved[i].transactions[j].amount) %>&nbsp;$</td>
              <td><%= JSON.stringify(recieved[i].transactions[j].timestamp )
              .slice(1, 17).replace('T','  ')
               %></td>
              <td><%= JSON.stringify(recieved[i].blockNumber) %></td>
            </tr>
            <% } %>
            <% } %>

          </table>
        </div>

<div class="col-md-1" style="border-left:1px solid #000;height:200px"></div>
        <div class="col-md-4">
          <h2>Make Txns</h2>
          <!-- hidden -->

          <form method="post" action="/txns" onsubmit="return checkTxn(this);">
            <div class="input-group">
              <input list="listID" id="toADDRESS" name="to" required>
              <datalist id="listID">
                <%for(var i=0;i<users.length;i++){%>
                <option value="<%=users[i]['nickName']%>" class="form-control">
                  <%}%>
        </datalist>
            
            
            <br>
            
            
            
              <div>
               <!-- onselect alert the nickname
               ='alert($("#toADDRESS").value)'>verify address</button>
            -->
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <input name="amount" type="number" placeholder="Amount " min="100" step="any" data-number-to-fixed="2"
                    data-number-stepfactor="100" class="form-control currency" />
                </div>


                <br />
                <br />
                <p id="fromADDRESS" hidden><%= currentUser.publicKey%> </p>

                  <input type="submit" value="Confirm" />
                  <input type='reset' value='Clear' name='reset'>
          </form>

        </div>

        <div class="col-md-1">
          <br>
          <br>
          <h3>
            Balance
            <span class="label label-default" id="senderBalance"><%=balance%> </span>$</a>
          </h3>

        </div>

      </div>


    </div>
  </div>

    <%- include includes/footer.ejs %>
  <script>
   
  </script>

</body>

</html>